body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  width:100%;
  background-color:#251d21;
}
.wrapper{
  max-width:1200px;
  margin:auto;
  justify-content: start;
  display:flex;
  padding:10px;
  box-shadow: 0 8px 32px 0 rgb(105 107 140 / 37%);
}
.footer{
  width:100%;
  background-color:#251d21;
  color:white;
  position: absolute;
  bottom:0;
  z-index:999;
}
.plus_sign{
  background-color: black !important;
    color: white !important;
    border-radius: 100px !important;
    height: 60px;
    width: 30px;
}
.formWrapper{
  box-shadow: 0 8px 32px 0 rgb(105 107 140 / 37%);
  width: 300px;
  margin: auto;
  height: 200px;
  margin-top: 70px;
}
.inputWrapper{
  border: none;
    padding: 10px;
    width: 260px;
}
textarea{
  border: none;
  padding: 10px;
  width: 260px
}

.note{
  box-shadow: 0 8px 32px 0 rgb(105 107 140 / 37%);
  width: 300px;
  margin: auto;
  height: 250px;
  margin-top: 70px;
}